

body {  
    background-image: url(./images/hermosabeach.jpg);
    background-size: cover;
    font-family: Monteserrat, Lora, Hind Madurai;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
} 

.nav-wrapper {
    background-color: rgb(144,162,179);
}

main {
    flex: 1 0 auto;
  }

.searchbox {
    display:flex;
    background-color: rgb(171,176,180);
    border-style: solid;
    border-color: rgb(154, 171, 185);
    border-width: 3px;
    border-radius: 5px;
    margin: 20px;
}

#btn {
    background-color:rgb(214,173,126);
}

.resultsbox {
    background-color: rgb(171,176,180);
    border-style: solid;
    border-color: rgb(154, 171, 185);
    border-width: 3px;
    border-radius: 5px;
    margin: 20px;
    display: inline-table;
}

.resultsbox {
    align-items: center;
    opacity: 73%;
}

.tablehead {
    text-align: center;
}

/* .form-label {
    font-size: 20px;
} */

.page-footer {
    background-color: rgb(144,162,179);
}

/* footer rgb(40,40,42) */
/* sky rgb(171,176,180) */