

body {  
    background-image: url(/assets/images/hermosabeach.jpg);
    background-size: cover;
    font-family: Monteserrat, Lora, Hind Madurai;
} 

.nav-wrapper {
    background-color:steelblue
}

#cardimage {
    max-width: 200px;
}